{
  "username": "yourname",
  "token": "yourtoken",
  "id": "yourid",
  "name": "your graph name",
  "unit": "yourunit",
  "type": "int",
  "color": "shibafu",
  "agreeTermsOfService": "yes",
  "notMinor": "yes",
  "processedDate": ""
}